<mat-toolbar color="primary" class="navbar">
  <div>
    <span><button routerLink="/" mat-button>Home</button></span>
    <span *ngIf="authService.isUserLoggedIn()"><button routerLink="/form" mat-button>Form</button></span>
  </div>
  <div *ngIf="!authService.isUserLoggedIn()">
    <span>
      <button (click)="openSignIn()" mat-raised-button>Sign In</button>
    </span>
    <span>
      <button (click)="openSingUp()" mat-raised-button>Sign Up</button>
    </span>
  </div>
  <div *ngIf="authService.isUserLoggedIn()">
    <span> <button (click)="authService.logOut()" routerLink="/" mat-raised-button>Logout</button></span>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
