<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Form-Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/form">Form</a>
      </li>
    </ul>
    <a href="/login">
      <button class="btn btn-outline-dark btn-sm mr-1" type="submit">Sign In</button>
    </a>
    <a href="/registration">
      <button class="btn btn-outline-dark btn-sm ml-1" type="submit">Sign Up</button>
    </a>
  </div>
</nav>

<div class="row justify-content-center">
  <div class="col-1 justify-content-end" style="text-align: center">AAAAAAAAA</div>
  <div class="col-10 justify-content-center" style="text-align: center"><router-outlet></router-outlet></div>
  <div class="col-1" style="text-align: center">AAAAAAA</div>
</div>

