<div class="col shadows p-3">
  <div class="form-group row">
    <label for="example-text-input" class="col-3
     col-form-label">Name</label>
    <div class="col-9">
      <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-tel-input" class="col-3
     col-form-label">Telephone</label>
    <div class="col-9">
      <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleFormControlTextarea1" class="col-3
     col-form-label">Text</label>
    <div class="col-9">
      <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-datetime-local-input" class="col-3
     col-form-label">Date and time</label>
    <div class="col-9">
      <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleFormControlFile1" class="col-3 col-form-label">Example file input</label>
    <div class="col-9">
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </div>
  <button type="submit" class="btn btn-primary submit">Submit</button>
</div>

