<div class="block-centre">
  <mat-card class="form-card">
    <div [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="top-blocks">
        <div class="field-block">
          <mat-form-field class="form-field">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>
        </div>
        <div class="field-block">
          <mat-form-field class="form-field">
            <mat-label>Patronymic</mat-label>
            <input matInput formControlName="patronymic">
          </mat-form-field>
        </div>
        <div class="field-block">
          <mat-form-field class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>
        </div>
      </div>
      <div class="top-blocks">
        <div class="field-block">
          <mat-form-field class="form-field">
            <mat-label>Phone number</mat-label>
            <input type="tel" [textMask]="mask"
                   (ng2TelOutput)="log($event)"
                   (countryChange)="countryChange($event)"
                   (submit)="log($event)"
                   [(ngModel)]="num"
                   matInput
                   ng2TelInput
                   [ng2TelInputOptions]="{initialCountry: 'us', preferredCountries: ['us', 'be']}"
                   formControlName="phone"/>
          </mat-form-field>
        </div>
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker" formControlName="datetime" placeholder="Choose a date"
                 [disabled]="disabled">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                   [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                   [touchUi]="touchUi" [enableMeridian]="enableMeridian"
                                   [disableMinute]="false" [hideTime]="false">
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                     (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Drop files into this bordered area
        </ng-template>
      </ngx-file-drop>
      <br>
      <table *ngIf="allFiles.length > 0" class="mat-table file-table">
        <tr>
          <th>Name</th>
          <th>Size</th>
        </tr>
        <tr *ngFor="let file of allFiles">
          <td>{{file.relativePath}}</td>
          <td>{{(file.size / 1024).toFixed(1) }}<b class="margin-6px">kByte</b></td>
        </tr>
      </table>
      <mat-button-toggle class="block-centre" (click)="onSubmit()">Submit</mat-button-toggle>
    </div>
  </mat-card>
</div>


