<div class="example-container sign-in-content">
  <h1>Registration</h1>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Login</mat-label>
    <input [(ngModel)]="user.username" matInput [type]="'text'">
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Password</mat-label>
    <input [(ngModel)]="user.password" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Phone number</mat-label>
    <input [(ngModel)]="user.phone" matInput required>
    <mat-icon matSuffix>phone</mat-icon>
    <mat-hint>Include area code</mat-hint>
  </mat-form-field>
  <div class="example-button-row">
    <button (click)="signUp()" mat-button color="primary">Sign Up</button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
