.shadows {
  box-shadow: 1px 1px 30px #e7e7ed
}

.user-table {
  width: 40%;
}

.table-form {
  width: 100%;
}

.field-block {
  align-self: center;

}

.margin-6px {
  margin-left: 6px;
}

.form-card {
  width: 50%;
  margin-top: 2rem;
}

.width-100 {
  width: 100%;
}

.file-table {
  margin: 0 auto;
  width: 70%;
}

.top-blocks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.block-centre {
  display: flex;
  justify-content: center;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sign-in-content {
  height: 100%;
  width: 20rem;
  text-align: center;
}
